# Clerk Configuration
VITE_CLERK_PUBLISHABLE_KEY=pk_test_dW5pcXVlLWNvcmFsLTI2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Zz7CAlaMWNfbzbc5RVemt0yTqCmS7G0ZEX77XvO7BO

VITE_API_URL=http://localhost:3001/api

VITE_SUPABASE_URL=https://hkabralejyvcdyhzhphu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrYWJyYWxlanl2Y2R5aHpocGh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM1NDM0NDEsImV4cCI6MjA2OTExOTQ0MX0.SsZZF1SXt00Y7VW_-aI0XzgoCQYG4dMhMdx6GcC8YX0